<div class="container">

    <!--<img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">-->
    <h3>Messenger</h3> 
    <!-- Your code here -->
    <%= render 'form' %>

</div>


