/* line 4, D:/w/porfolio1/app/assets/stylesheets/about.scss */
.about {
  height: 700px;
  background-image: url(Amazonka.jpg);
  background-size: cover;
}
/* line 12, D:/w/porfolio1/app/assets/stylesheets/about.scss */
.about p {
  width: 800px;
  margin-left: 35%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: white;
}

/* line 24, D:/w/porfolio1/app/assets/stylesheets/about.scss */
.textabout {
  padding-top: 150px;
}
/* line 5, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.img {
  background-image: url(ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

/* line 11, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.post {
  width: 700px;
  margin-left: 35%;
}

/* line 19, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
li {
  list-style-type: none;
}

/* line 22, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.redact {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 10px;
}

/* line 29, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.border {
  border-bottom: solid #808080 1px;
  margin-left: -40px;
}

/* line 35, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.titlep {
  padding-top: 15px;
  color: black;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: -30px;
}

/* line 44, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.bodyp {
  margin-left: -30px;
  color: black;
  font-size: 14px;
  padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* show post */
/* line 55, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.showpost {
  margin-left: 50px;
}

/* line 58, D:/w/porfolio1/app/assets/stylesheets/posts.scss */
.commentform {
  margin-left: -40px;
}
/* line 1, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, D:/w/porfolio1/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 body {
 	margin-left: auto;
 	margin-right: auto;
	background:white;
	margin-top: 50px;
	/*width: 1002px;
	height: 100%;
	border: solid #808080 1px; */
	 height: 100%;
	 width: 100%;
}
.header{
	width: 523px;
	margin-left: 35%;
 	
}
.menu > .column > a{

	font-family: monospace;
	font-size: 15px;
	color: black;
	

}

/*#color1 {
	margin-left: -40px;

	background-image:linear-gradient(#660000, #663333, #666633, #669933, #66CC33, #66FF33);
}

#color2{
	margin-left: -5px;
    background-image:linear-gradient(#660066, #663366, #666666, #669966, #66CC66, #66FF66);
}
#color3 {
	margin-left: -5px;
    background-image:linear-gradient(#660099, #663399, #666699, #669999, #66CC99, #66FF99);
}

#color4{
	margin-left: -5px;
    background-image:linear-gradient(#6600CC, #6633CC, #6666CC, #6699CC, #66CCCC, #66FFCC);
}
#color5{
	margin-left: -5px;
    background-image:linear-gradient(#6600FF, #6633FF, #6666FF, #6699FF, #66CCFF, #66FFFF);
}
*/
.column{
	height:25px;
    display: inline-block;
    margin-left: 35px;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 25px;
}


 
 /*footer */
 .footer{
	width: 170px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 45%;


		/* изменить когда поставить иконки */
}
 .icon{
	display: inline-block;
	list-style-type: none;
	width: 40px;
	height: 40px;
	
    
}
.icon1{
	background-image: url(icon2.jpg);
	background-repeat: no-repeat;
	background-size: 40px;
	
	
}
.icon2{
	background-image: url(icon1.jpg);
	background-repeat: no-repeat;
	background-size: 40px;

	
}
.icon3{
	background-image: url(icon3.jpg);
	background-repeat: no-repeat;
	background-size: 40px;

	
}
/* post and coments */

/*welcome	*/

.main{
	
	background-image: url(pict.jpg);
	/*background-image:linear-gradient(#6600CC, #6633CC, #6666CC, #6699CC, #66CCCC, #66FFCC);*/
	background-repeat: no-repeat;
	height: 700px;

}
.text{
	width: 1000px;
	margin-left: auto;
 	margin-right: auto;
 	color:white;
 	font-size: 30px;
 	padding: 20px;
 	font-family: 'Roboto', sans-serif;
 	height: 550px;
 	line-height: 550px;
}
/* contact */
 .contact {
 	height: 700px;
	color: black;
	background-image: url(123.jpg);
	background-size: cover;
 }
 .contacttext{
 	width: 300px;
	margin-left: 40%;			
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color:black;
	padding-top: 150px;
 }
