<ul class="project">
  <li><%= link_to 'My Projects', '#' %></li>
  <li><%= link_to 'Online Shop', 'https://radiant-caverns-4132.herokuapp.com' %></li>
  <p>Простенький интернет-магазин</p>
  <li><%= link_to 'login and logout', 'https://mysterious-harbor-9030.herokuapp.com' %><li>
  <p>Авторизация для просмотра альбомов </p>
  <li><%= link_to 'TravelAPP', '/tags' %></li>
  <p>Альбомы путешественника</p>
</ul>