<div class="container">
  <div class="col-md-4">
  	<%= link_to 'Online Shop', 'https://radiant-caverns-4132.herokuapp.com' %>
  </div>
  <div class="col-md-4">
  	<%= link_to 'login and logout', 'https://limitless-ocean-5543.herokuapp.com' %>
  </div>
  <div class="col-md-4">
    <%= link_to 'TravelAPP', '/tags' %>
  </div>
</div>


