<div class="container">
  <img class="col-xl-6 col-md-6 col-sm-6 col-xs-6 img-responsive" src="/assets/img.jpg"  align="left">
  <h3 class="col-xl-6 col-md-6 col-sm-6 col-xs-6">

    Hello!<br>
    My name is Natali.<br>
    I was born  in Kharkiv and raised in Donetsk  before moving to Kiev at 19.<br>
    Since 2014, I've been pursuing my passion, building websites and developing my creativity.<br>
  
  </h3>
</div>
