<div id="wrapper">
  <div class="img">
     
	<div class="discr">  <p>Hello. My name is Natali.</p>
	  <p>I was born  in Kharkiv and raised in Donetsk  before moving to Kiev at 19.</p>
	  <p>Since 2014, I've been pursuing my passion, building websites and developing my creativity.</p>
	</div>
	</div>
</div>