<div id="wrapper">
  <div id="sidebar">
    <%= render 'well' %>
  </div> 
  <div id="content">
   <p>Hello. My name is Natali and I have </p>
   <p>creative ideas and build websites</p>
  </div>
</div>




