<div class="container">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!--индикаторы слайдов -->
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!--слайды-->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="/tags">
          <img src="http://hq-oboi.ru/photo/abstract_dark_1920x1200.jpg" alt="">
        </a>
        <div class="carousel-caption">
          <h3>1 slide</h3>
          <p>description 1 slide</p>
        </div>
      </div>
      <div class="item">
        <a href="https://radiant-caverns-4132.herokuapp.com/">
          <img src="http://hq-oboi.ru/photo/abstract_dark_1920x1200.jpg" alt="">
        </a>
        <div class="carousel-caption">
          <h3>2 slide</h3>
          <p>description 2 slide</p>
        </div>
      </div>
      <div class="item">
        <a href="https://mysterious-harbor-9030.herokuapp.com/">
          <img src="http://hq-oboi.ru/photo/abstract_dark_1920x1200.jpg" alt="">
        </a>
        <div class="carousel-caption">
          <h3>3 slide</h3>
          <p>description 3 slide</p>
        </div>
      </div>
    </div>
    <!--стрелки переключения слайдов -->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
