
<div class="main"><p>Hello. My name is Natali and I have creative ideas and build websites </p>
</div>
<div class="footer">
	<ul>
		<li class="icon">g+</li>
		<li class="icon">fb</li>
		<li class="icon">in</li>
	</ul>
</div>