<div id="wrapper">
  <div id="right">
  	<p class="text-center">Projects</p>
    <%= render 'well' %>
  </div> 
  <div id="left">
   <p>Hello. My name is Natali and I have </p>
   <p>creative ideas and build websites</p>
  </div>
  <div id="main2"></div>
  <div id="rasporka"></div>
</div>



