<div class="contact">
	<div class="contacttext">Contact me:
	<ul>
		<li>email: rinykia@gmail.com</li>
		<li>skype: rinykia</li>
		<li><a class="icon2" href="https://www.facebook.com/rinykia"></a></li>
	</ul>
	</div>
</div>	