<div class="imgabout">
<div class="about">
	
		<div class="textabout">
		    <p>Once time ago in the jungle Amazon...</p>
		    <p>Sorry, what about I?</p>
			<p>Hello. My name is Natali.</p>
			<p>I was born  in Kharkiv and raised in Donetsk  before moving to Kiev at 19.</p>
			<p>Since 2014, I've been pursuing my passion, building websites and developing my creativity.</p>
			</h3>
	</div>
</div>
</div>