// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about {
	margin-left: 35px;
	height: 600px;
	width: 1000px;
	
		p{
		font-size: 20px;
		color:white;
		}

}

