/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	margin-left: auto;
 	margin-right: auto;
	background:white;
	margin-top: 50px;
	width: 1002px;
	height: 100%;
	border: solid #808080 1px;
	    
}

.menu > .column > a{

	font-family: monospace;
	font-size: 15px;
	color: white;
	

}

#color1 {
	margin-left: -40px;

	background-image:linear-gradient(#660000, #663333, #666633, #669933, #66CC33, #66FF33);
}

#color2{
	margin-left: -5px;
    background-image:linear-gradient(#660066, #663366, #666666, #669966, #66CC66, #66FF66);
}
#color3 {
	margin-left: -5px;
    background-image:linear-gradient(#660099, #663399, #666699, #669999, #66CC99, #66FF99);
}

#color4{
	margin-left: -5px;
    background-image:linear-gradient(#6600CC, #6633CC, #6666CC, #6699CC, #66CCCC, #66FFCC);
}
#color5{
	margin-left: -5px;
    background-image:linear-gradient(#6600FF, #6633FF, #6666FF, #6699FF, #66CCFF, #66FFFF);
}
.column{
	height:25px;
    width:200px;
    display: inline-block;
    
    margin-left: 35px;
    
    font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 25px;


	}
/* post and coments */

/*welcome	*/

.main{
	width: 1000px;
	background-image: url(pict.jpg);
	/*background-image:linear-gradient(#6600CC, #6633CC, #6666CC, #6699CC, #66CCCC, #66FFCC);*/
	background-repeat: no-repeat;
	
	height: 600px;
	
 	margin-right: auto;
 	color:white;
 	font-size: 30px;
 	padding: 20px;
 	font-family: 'Roboto', sans-serif;
}



.footer{
	display: inline-block;
	margin-left: 817px;/* изменить когда поставить иконки */
	margin-top: 100px;
}
 /* contact */
 .contact {
 	
	height: 600px;
	width: 1000px;
	color: black;
	display: inline-block;
 }
 /*footer */
 .icon{
	display: inline-block;
	list-style-type: none;
	width: 40px;
	height: 40px;
	
    
}
.icon1{
	background-image: url(icon2.jpg);
	background-repeat: no-repeat;
	background-size: 40px;
	
	
}
.icon2{
	background-image: url(icon1.jpg);
	background-repeat: no-repeat;
	background-size: 40px;

	
}
.icon3{
	background-image: url(icon3.jpg);
	background-repeat: no-repeat;
	background-size: 40px;

	
}