// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* contact */
 .contact {
 	height: 700px;
	color: black;
	background-image: url(123.jpg);
	background-size: cover;
 }
 .contacttext{
 	width: 300px;
	margin-left: 40%;			
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color:black;
	padding-top: 50px;

 }
 .contacttext > ul{
 	height: 200px;
 	padding-left: 20px;
 	
 }
