// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*welcome	*/

.main{
	
	background-image: url(pict.jpg);
	/*background-image:linear-gradient(#6600CC, #6633CC, #6666CC, #6699CC, #66CCCC, #66FFCC);*/
	background-size: cover;
	height: 700px;

}
.text{
	width: 1000px;
	margin-left: auto;
 	margin-right: auto;
 	color:white;
 	font-size: 30px;
 	padding: 20px;
 	font-family: 'Roboto', sans-serif;
 	height: 550px;
 	line-height: 550px;
}