// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*welcome	*/

.main{
	width: 999px;
	background-image: url(images/pict.png);
	background-repeat: no-repeat;
	
	height: 600px;
	margin-left: 38px;
 	margin-right: auto;
 	color:white;
 	font-size: 30px;
 	padding: 20px;
 	font-family: 'Roboto', sans-serif;
}
a{
	color: white;
}
.icon{
	display: inline-block;
	list-style-type: none;
	color: white;
}
.footer{
	margin-left: 940px;/* изменить когда поставить иконки */
	margin-top: 100px;
}