// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*index.html.erb*/
.img{
	background-image: url(ocean.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height: 700px;
}
.post{
	width:600px;
	margin-left: 35%;

}
ul > .titlep > a {

	color: #000000;
}
ul > .bodyp > a{
	color: #000000;
}
li > a:hover {
  text-decoration: none;
  color:black;
  background: none;
}
li{
	list-style-type: none;
}
.redact{
	display: inline-block;
	margin-right:10px;
	margin-top: 15px;
	font-size: 10px;
}

.border{
border-bottom: solid #E6E6FA 1px;
margin-left:-40px;
margin-right: 10px;

	
}
.titlep{
	padding-top: 15px;
	
	font-size: 20px;
	font-family:Verdana,Arial,sans-serif;
	font-weight: 500;
	margin-left: -30px;
	


}
.bodyp{
	margin-left: -30px;
	color: black;
	font-size: 14px;
	padding-top: 10px;
	font-family:Verdana,Arial,sans-serif;
	font-weight: 500;

	
}

/* show post */
.show{
	padding-left: 62px;

}
.commentform{
	margin-left: -30px;
}
/* new post */
.postnew{
	width: 700px;
	margin-left: 35%;
}
/*form */
  INPUT[type="text"]{
	width: 600px;
	height: 20px;
	border-radius: 5px;
}
textarea{
	max-width: 600px;
	min-width: 300px;
	max-height: 460px;
	min-height: 100px;
	border-radius: 5px;
}
